.sub-title {
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
  }
  .not-square-grid .am-grid-icon {
    width: 40px;
    height: 60px;
  }
  .am-grid.am-grid-square .am-grid-item .am-grid-item-inner-content .am-grid-icon{
    width: 50%!important
  }